* {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 auto;
    width: 400px;
    display: block;
    background-color: rgb(199, 196, 196);
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

footer {
    margin: 0 auto;
    width: 400px;
    background-color: rgb(199, 196, 196);
    text-align: center;
}