* {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: small;
}

.body-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header {
    grid-column: 1/5;
    background-color: #333333;
    color: #fff;
    height: 50px;
    padding: 10px;
}

.nav-section {
    background-color: black;
    grid-column: 1/5;
    height: 50px;
}

.nav-bar {
    background-color: black;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: rgb(211, 172, 248);
}

main {
    grid-column: 1/4;
    background-color: rgb(223, 221, 221);
    padding: 10px;
    color: black;
}

aside {
    background-color: #f7ebeb;
    grid-column: 4/5;
    padding: 10px;
    color: black;
}

main, aside {
    height: 200px;
}

footer {
    background-color: #333333;
    grid-column: 1/5;
    text-align: center;
    padding: 10px;
    color: #fff;
    height: 100px;
}

