* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header,
main {
	margin: 0 auto;
}

header {
    background-color: rgb(67, 5, 117);
    display: grid;
    grid-gap: 1rem;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    font-size: larger;
    }

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-1 {
    display: none;
    flex-direction: column;
    background-color: rgb(46, 46, 82);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    list-style: none;
}

.menu-1 a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
}

.menu-1 a:hover {
    color: rgb(179, 244, 192);
}

#menu {
	font-size: 2rem;
    cursor: pointer;
}

#menu::before {
	content: "≡";
    color: #fff;
}

#menu.show::before {
	content: "❌";
    color: #fff;
}

.show + .menu-1 {
	display: flex;
}

main {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

main figure {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s; 
}

main figure:hover {
  transform: scale(1.05);
}

footer {
    background-color:  rgb(67, 5, 117);
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: larger;
}

#lastModified {
    color: beige;
}



