header {
    background-color: rgb(87, 3, 87);
}

h1 {
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.container h1 {
    color: #000;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background-color: rgb(248, 236, 236);
    width: 800px;
    margin: 50px;
}

main {
    font-size: 1.5rem;
}

.iproduct {
    margin: 2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-size: .9rem;
}

.iproduct div {
    padding: .9rem 0;
    color: #000;
    font-size: .9rem;
}

.iproduct input[type="text"],
.iproduct input[type="date"],
.iproduct select
{
    background-color: rgb(247, 249, 250);
    display: block;
    border: 1px solid gray;
    border-radius: 6px;
    color: #000;
    width: 100%;
    height: 40px;
}

.iproduct input[type="radio"],
.iproduct input[type="checkbox"] {
    margin-right: 6px;
}

#isubmit {
    padding: .5rem;
    margin: .5rem;
    display: inline-block;
    background: #5b09a3;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

footer {
    background-color: rgb(87, 3, 87);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}