@media (min-width: 700px) {

    .hero {
        position: relative;
    }

    .data-card {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 260px;
    }

    .weather-card {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 260px;
    }

    .weather-heading::after {
    font-size: 2rem;
    font-weight: bold;
  }
}
