
@media screen and (min-width: 700px) {
  .menu-bar {
    flex-direction: row;
  }

  #menu {
    display: none;
  }

  .menu-1 {
    display: flex; 
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    gap: 20px;
  }

  .menu-1 a {
    display: inline;
    background: none;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
  }

  main h1 {
	grid-column: 1/4;
	text-align: center;
  }
}
