body{
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: #fff;
    }
}

main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid darkgray;
    padding: 1rem;
    background-color: rgb(164, 201, 231);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}

